@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Poppins&display=swap');
*{
  margin: 0;
  
  font-family: 'Afacad', sans-serif;
  font-family: 'Poppins', sans-serif;
}
header{
  display: flex;
  align-items: center;
  flex-direction: column;
  
  background: linear-gradient(pink 60%, transparent 40%);
}
#topSide{
  width: 100%;
}
#userInfo{
  margin: 5%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: #fff;
}
#userInfo i{
  padding: 15px;
  
  background-color: #FFFFFF3D;
  border-radius: 50%;
}
.side{
  font-size: small
}
#extractInfo{
  padding: 10px;
  
  width: 85%;
  
  display: flex;
  justify-content: space-between;
  
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.side{
  margin: 10px;
}
h3,h2{
  color: #7A7A7A;
}
#update{
  margin: 5%;
  
  display: flex;
  justify-content: center;
}
#container{
  margin: 5%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iContainer{
  padding: 10px;
  
  width: 25px;
  height: 25px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #fff;
  background-color: pink;
  border-radius: 5px;
}
main{
  margin-left: 20px;
  margin-right: 20px;
}
main h2 {
  margin-bottom: 10px;
}
#mov{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-bottom: 2px solid #ccc;
}
#mov p{
  margin-right: 20px;
}
#info {
  margin-left: 20px;
}
#info h6{
  font-size: small;
  color: #7A7A7A;
}
#info h3{
  color: black;
}
#listar{
  margin-top: 20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
#listar .iContainer{
  padding: 10px;
  
  width: 15px;
  height: 15px;
}
#listar p{
  margin: 5px;
}
.disable{
  opacity: 0.5;
}
